@CHARSET "UTF-8";
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #78A3D6;
    overflow: hidden;
}

.stage {
    position: absolute;
    z-index: 1;
}

#plane{
    position: absolute;
    background: no-repeat;
    width: 101px;
    height: 75px;
    margin: 0;
    z-index: 2;
}
